@tailwind base;
@tailwind components;
@tailwind utilities;

#bodyimage {
    height: 439px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    background-position: center;
  }